#header {
	position: relative;
	background-image: linear-gradient(to right, #6703a9, #305adc);

	.headerContainer {
		padding: 2rem 0;
	}

	.campain {
		&__info {}

		&__img {
			width: 350px;
		}
	}

	.shape-svg {
		width: 100%;
		position: absolute;
		height: 119px;
		bottom: 0;
		left: 0;
	}
}